.blog-post-and-comments {
    display: inline;
}

.post-image {
    height: 350px;
    width: 525px;
    img {
      height: 350px;
    }
}

.centered {
    display: flex;
    margin-left: 100px;
    margin-right: auto;
}

